name: Release Extension

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'pnpm' 
      
      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Pack Extension (Zip)
        run: |
          cd dist
          zip -r ../easy-booth-lib-button.zip ./*

      - name: Upload Release Asset
        # use v2.4.2 cause v2.5.0 is not stable
        # https://github.com/softprops/action-gh-release/issues/704
        uses: softprops/action-gh-release@v2.4.2
        with:
          files: easy-booth-lib-button.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
